body {
    font-family: "Inter", sans-serif;
    background-color: #C6E7FF;
}

.container {
    max-width: 649px;
    margin: 0 auto;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 144px 55px 117px;
    border-radius: 30px;
    color: #1343EA;
    background-color: white;
    box-sizing: border-box;
}

.main__heading {
    margin-bottom: 37px;
    font-size: 50px;
    font-weight: 400;
}

.main__icon {
    margin-bottom: 158px;
}
.main__description {
    color: #AAA;
    margin-bottom: 34px;
    font-weight: 400;
    font-size: 20px;
}

.description__active {
    color: #0D4CD3;
}

.main__item {
    width: 540px;
    padding: 10px 28px 28px 26px;
    border-radius: 20px;
    background-color: #F5F7FA;
    box-sizing: border-box;
}

.main__item:nth-child(1) {
    margin-bottom: 40px;
}

.item__hint {
    font-size: 14px;
    margin-bottom: 13px;
    color: #667293;
}

.item__input {
    width: 100%;
    height: 40px;
    border: 0;
    border-bottom: 1px solid #667293;
    background-color: transparent;
}

.main__forget {
    margin-bottom: 73px;
    padding-left: 15px; 
    border: 0;
    background-color: transparent;
    font-size: 20px;
    color: #0D4CD3;
}

.main__enter {
    display: block;
    margin: 0 auto;
    padding: 23px 174px;
    border-radius: 20px;
    border: 0;
    background-color: #0D4CD3;
    font-size: 20px;
    color: white;
}
